<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/beeicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/beeicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyBee"
        tools:targetApi="31"
        android:name=".MyApp">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GetName"/>
        <activity android:name=".Home"/>
        <activity android:name=".Doseski" />
        <activity android:name=".Sound" />
        <activity android:name=".BgNose" />
        <activity android:name=".Timer"
            android:lockTaskMode="if_whitelisted"/>
        <activity android:name=".Nastavitve"/>

        <activity android:name=".Info"/>
    </application>

</manifest>